<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    <%@work_sessions.each do |work_session|%>
    <tr>
      <td><%=l work_session.date, format: :long%> entre <%=l work_session.slot_start, format: :short%> et <%=l work_session.slot_end, format: :short%></td>
      <td><%=work_session.title%></td>
    </tr>
    <%end%>
  </tbody>
</table>
